### Numpy 和 Pandas 有什么不同？

如果用python的列表和字典来作比较，那么可以说Numpy是列表形式的， 没有数值标签，而pandas就是字典形式

### Series

series的字符串表现形式为：索引在左边，值在右边。

In [1]:
import pandas as pd
import numpy as np
s = pd.Series([1, 3, 6, np.nan, 44, 1])

In [2]:
print(s)

0     1.0
1     3.0
2     6.0
3     NaN
4    44.0
5     1.0
dtype: float64

### DataFrame
DataFrame是一个表格型的数据结构， 它包含有一组有序的列， 每列可以是不同的值类型， DataFrame既有行索引也有列索引

In [4]:
datas = pd.date_range('20180101', periods = 6)
df = pd.DataFrame(np.random.randn(6, 4), index = datas, columns = ['a','b','c','d'])

print(df)

                   a         b         c         d
2018-01-01  0.950039 -3.349625 -1.475100 -1.675536
2018-01-02  0.213796  0.245813  1.225374 -2.060305
2018-01-03 -0.427921  0.508872 -0.327602  0.877623
2018-01-04 -1.465901 -0.436042  1.048059  1.768296
2018-01-05 -0.094652  0.915460  0.351028 -1.867941
2018-01-06 -0.120624  0.755222 -0.796166 -0.134995

In [5]:
print(df['b'])

2018-01-01   -3.349625
2018-01-02    0.245813
2018-01-03    0.508872
2018-01-04   -0.436042
2018-01-05    0.915460
2018-01-06    0.755222
Freq: D, Name: b, dtype: float64

In [6]:
df1 = pd.DataFrame(np.arange(12).reshape((3, 4
                                         )))

In [7]:
print(df1)

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11


### Pandas选择数据

In [13]:
dates = pd.date_range('20150801', periods = 6)
df = pd.DataFrame(np.arange(24).reshape((6, 4)), index = dates, columns=['A','B','C','D'])

In [14]:
print(df)

             A   B   C   D
2015-08-01   0   1   2   3
2015-08-02   4   5   6   7
2015-08-03   8   9  10  11
2015-08-04  12  13  14  15
2015-08-05  16  17  18  19
2015-08-06  20  21  22  23

In [15]:
print(df['A'])

2015-08-01     0
2015-08-02     4
2015-08-03     8
2015-08-04    12
2015-08-05    16
2015-08-06    20
Freq: D, Name: A, dtype: int64

In [16]:
print(df.A
     )

2015-08-01     0
2015-08-02     4
2015-08-03     8
2015-08-04    12
2015-08-05    16
2015-08-06    20
Freq: D, Name: A, dtype: int64

In [17]:
print(df[0:3])

            A  B   C   D
2015-08-01  0  1   2   3
2015-08-02  4  5   6   7
2015-08-03  8  9  10  11

In [18]:
print(df['20150801':'20150803'])

            A  B   C   D
2015-08-01  0  1   2   3
2015-08-02  4  5   6   7
2015-08-03  8  9  10  11

In [19]:
print(df.loc['20150801'])

A    0
B    1
C    2
D    3
Name: 2015-08-01 00:00:00, dtype: int64

In [20]:
print(df.loc[:,['A','B']])

             A   B
2015-08-01   0   1
2015-08-02   4   5
2015-08-03   8   9
2015-08-04  12  13
2015-08-05  16  17
2015-08-06  20  21

In [21]:
print(df.loc['20150801',['A','B']])

A    0
B    1
Name: 2015-08-01 00:00:00, dtype: int64

In [22]:
#  根据序列iloc
print(df.iloc[3, 1])

13

In [23]:
print(df.iloc[3:5, 1:3])

             B   C
2015-08-04  13  14
2015-08-05  17  18

In [24]:
print(df.iloc[[1, 3, 5], 1:3])

             B   C
2015-08-02   5   6
2015-08-04  13  14
2015-08-06  21  22

In [25]:
#  根据混合的这两种ix
print(df.ix[:3,['A','C']])

            A   C
2015-08-01  0   2
2015-08-02  4   6
2015-08-03  8  10

/Users/cristalyin/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [26]:
#  通过判断的筛选
print(df[df.A > 8])

             A   B   C   D
2015-08-04  12  13  14  15
2015-08-05  16  17  18  19
2015-08-06  20  21  22  23


##  Panda设置值

In [27]:
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.arange(24).reshape((6,4)),index=dates, columns=['A','B','C','D'])

In [28]:
df.iloc[2, 2] = 1111
df.loc['20130101', 'B'] = 2222

In [29]:
print(df)

             A     B     C   D
2013-01-01   0  2222     2   3
2013-01-02   4     5     6   7
2013-01-03   8     9  1111  11
2013-01-04  12    13    14  15
2013-01-05  16    17    18  19
2013-01-06  20    21    22  23

In [30]:
#  根据条件设置
df.B[df.A > 4] = 0

In [31]:
print(df
     )

             A     B     C   D
2013-01-01   0  2222     2   3
2013-01-02   4     5     6   7
2013-01-03   8     0  1111  11
2013-01-04  12     0    14  15
2013-01-05  16     0    18  19
2013-01-06  20     0    22  23

In [32]:
df['F'] = np.nan

In [34]:
# 添加数据
df['E'] = pd.Series([1, 2, 3, 4,5 ,6], index = pd.date_range('20130101', periods = 6))