### Numpy 和 Pandas 有什么不同？

如果用python的列表和字典来作比较，那么可以说Numpy是列表形式的， 没有数值标签，而pandas就是字典形式

### Series

series的字符串表现形式为：索引在左边，值在右边。

In [3]:
import pandas as pd
import numpy as np
s = pd.Series([1, 3, 6, np.nan, 44, 1])

In [4]:
print(s)

0     1.0
1     3.0
2     6.0
3     NaN
4    44.0
5     1.0
dtype: float64

### DataFrame
DataFrame是一个表格型的数据结构， 它包含有一组有序的列， 每列可以是不同的值类型， DataFrame既有行索引也有列索引

In [5]:
datas = pd.date_range('20180101', periods = 6)
df = pd.DataFrame(np.random.randn(6, 4), index = datas, columns = ['a','b','c','d'])

print(df)

                   a         b         c         d
2018-01-01  0.538826  0.042056  0.672696  2.013865
2018-01-02  1.601992  0.139286  1.100289  0.257193
2018-01-03 -0.053348  0.008451 -2.077492  0.505023
2018-01-04 -0.453547 -0.204461  0.727639 -0.898512
2018-01-05  0.309919  1.163361 -0.988313 -0.399124
2018-01-06  0.656660  0.674582 -1.007712  1.857072

In [6]:
print(df['b'])

2018-01-01    0.042056
2018-01-02    0.139286
2018-01-03    0.008451
2018-01-04   -0.204461
2018-01-05    1.163361
2018-01-06    0.674582
Freq: D, Name: b, dtype: float64

In [7]:
df1 = pd.DataFrame(np.arange(12).reshape((3, 4
                                         )))

In [8]:
print(df1)

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11


### Pandas选择数据

In [9]:
dates = pd.date_range('20150801', periods = 6)
df = pd.DataFrame(np.arange(24).reshape((6, 4)), index = dates, columns=['A','B','C','D'])

In [10]:
print(df)

             A   B   C   D
2015-08-01   0   1   2   3
2015-08-02   4   5   6   7
2015-08-03   8   9  10  11
2015-08-04  12  13  14  15
2015-08-05  16  17  18  19
2015-08-06  20  21  22  23

In [11]:
print(df['A'])

2015-08-01     0
2015-08-02     4
2015-08-03     8
2015-08-04    12
2015-08-05    16
2015-08-06    20
Freq: D, Name: A, dtype: int64

In [12]:
print(df.A
     )

2015-08-01     0
2015-08-02     4
2015-08-03     8
2015-08-04    12
2015-08-05    16
2015-08-06    20
Freq: D, Name: A, dtype: int64

In [13]:
print(df[0:3])

            A  B   C   D
2015-08-01  0  1   2   3
2015-08-02  4  5   6   7
2015-08-03  8  9  10  11

In [14]:
print(df['20150801':'20150803'])

            A  B   C   D
2015-08-01  0  1   2   3
2015-08-02  4  5   6   7
2015-08-03  8  9  10  11

In [15]:
print(df.loc['20150801'])

A    0
B    1
C    2
D    3
Name: 2015-08-01 00:00:00, dtype: int64

In [16]:
print(df.loc[:,['A','B']])

             A   B
2015-08-01   0   1
2015-08-02   4   5
2015-08-03   8   9
2015-08-04  12  13
2015-08-05  16  17
2015-08-06  20  21

In [17]:
print(df.loc['20150801',['A','B']])

A    0
B    1
Name: 2015-08-01 00:00:00, dtype: int64

In [18]:
#  根据序列iloc
print(df.iloc[3, 1])

13

In [19]:
print(df.iloc[3:5, 1:3])

             B   C
2015-08-04  13  14
2015-08-05  17  18

In [20]:
print(df.iloc[[1, 3, 5], 1:3])

             B   C
2015-08-02   5   6
2015-08-04  13  14
2015-08-06  21  22

In [21]:
#  根据混合的这两种ix
print(df.ix[:3,['A','C']])

            A   C
2015-08-01  0   2
2015-08-02  4   6
2015-08-03  8  10

/Users/cristalyin/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [22]:
#  通过判断的筛选
print(df[df.A > 8])

             A   B   C   D
2015-08-04  12  13  14  15
2015-08-05  16  17  18  19
2015-08-06  20  21  22  23


##  Panda设置值

In [23]:
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.arange(24).reshape((6,4)),index=dates, columns=['A','B','C','D'])

In [24]:
df.iloc[2, 2] = 1111
df.loc['20130101', 'B'] = 2222

In [25]:
print(df)

             A     B     C   D
2013-01-01   0  2222     2   3
2013-01-02   4     5     6   7
2013-01-03   8     9  1111  11
2013-01-04  12    13    14  15
2013-01-05  16    17    18  19
2013-01-06  20    21    22  23

In [26]:
#  根据条件设置
df.B[df.A > 4] = 0

In [27]:
print(df
     )

             A     B     C   D
2013-01-01   0  2222     2   3
2013-01-02   4     5     6   7
2013-01-03   8     0  1111  11
2013-01-04  12     0    14  15
2013-01-05  16     0    18  19
2013-01-06  20     0    22  23

In [28]:
df['F'] = np.nan

In [29]:
# 添加数据
df['E'] = pd.Series([1, 2, 3, 4,5 ,6], index = pd.date_range('20130101', periods = 6))

### Pandas处理丢失数据

In [32]:
dates = pd.date_range('20130101', periods = 6)
df = pd.DataFrame(np.arange(24).reshape((6, 4)), index = dates, columns = ['A', 'B', 'C', 'D'])
df.iloc[0,1] = np.nan
df.iloc[1,2] = np.nan

In [34]:
# pd.dropna()

df.dropna(
    axis = 1,
    how = 'any'
)

             A   D
2013-01-01   0   3
2013-01-02   4   7
2013-01-03   8  11
2013-01-04  12  15
2013-01-05  16  19
2013-01-06  20  23

In [35]:
# pd.fillna()
df.fillna(value = 0)

             A     B     C   D
2013-01-01   0   0.0   2.0   3
2013-01-02   4   5.0   0.0   7
2013-01-03   8   9.0  10.0  11
2013-01-04  12  13.0  14.0  15
2013-01-05  16  17.0  18.0  19
2013-01-06  20  21.0  22.0  23

In [36]:
# pd.isnull 判断是否有Nan数据
df.isnull()

                A      B      C      D
2013-01-01  False   True  False  False
2013-01-02  False  False   True  False
2013-01-03  False  False  False  False
2013-01-04  False  False  False  False
2013-01-05  False  False  False  False
2013-01-06  False  False  False  False

### pandas导入、导出

In [ ]:
import